// background colors
$bg1:       #000000;
$bg2:       #080808;
$bg3:       #121212;


// colors
$c1:        #ffffff;


// colors
$purple0:   #9b59b6;

// border radius
$br: 12px;

// transition
$ts: all 0.3s ease-in-out;